.jh/
.jh/*
./.jh/

# build artifacts
build/

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf
main.out
jh-vcs

# Object files
*.o
*.ko
*.obj
*.elf
*.lo
*.la
*.al

# Libraries
*.a
*.so
*.so.*
*.dylib
